<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="initial-scale=1.0, user-scalable=yes, width=device-width">
        <title>{{ msg('meeting-times') }} :: {{ mt.startTime.format('Y-m-d') }}</title>
        {{ encore_entry_link_tags('app') }}
    </head>
    <body>
    <header>
        <h1><a href="{{ path('home') }}">{{ msg('meeting-times') }}</a></h1>
    </header>
    <main>
        <form action="{{ path('home') }}" method="get">
            <fieldset>
                <legend>{{ msg('dates-label') }}</legend>
                <p class="startdate">
                    <label for="startdate">{{ msg('startdate-label') }}</label>
                    <input id="startdate" type="date" name="startdate" value="{{ mt.starttime.format( 'Y-m-d' ) }}" />
                    <label for="starttime">{{ msg('starttime-label') }}</label>
                    <input id="starttime" type="time" name="starttime" value="{{ mt.starttime.format( 'H:i' ) }}" />
                </p>
                <p class="enddate">
                    <label for="enddate">{{ msg('enddate-label') }}</label>
                    <input id="enddate" type="date" name="enddate" value="{{ mt.endtime.format('Y-m-d') }}" />
                    <label for="endtime">{{ msg('endtime-label') }}</label>
                    <input id="endtime" type="time" name="endtime" value="{{ mt.endtime.format( 'H:i' ) }}" />
                </p>
            </fieldset>
            <fieldset id="tz-fieldset" data-search-url="{{ path('search') }}">
                <legend>{{ msg('timezones-label') }}</legend>
                {% for idx,tz in mt.timezones %}
                <p>
                    <label for="tz-{{ idx }}">{{ msg('timezone-label') }}</label>
                    <input id="tz-{{ idx }}" class="tz-input" list="tz-datalist" type="text" name="tzs[{{ idx }}]" value="{{ tz.name }}" />
                </p>
                {% endfor %}
            </fieldset>
            <p>
                <input type="submit" value="{{ msg('go') }}" />
            </p>
            <datalist id="tz-datalist"></datalist>
        </form>

        {% set dst = '(<abbr title="'~msg('dst-title')~'">'~msg('dst')~'</abbr>)' %}

        {% if mt.timeslots %}
            <table>
                <thead>
                    <tr>
                        {% for tz in mt.timezones %}
                            <th colspan="2">
                                {{ tz.name }}<br />
                                <span class="tzs">
                                    {% for tran in tz.transitions(mt.starttime, mt.endtime) %}
                                        <abbr title="{{ msg('timezone-abbr') }}">{{ tran.abbr }}</abbr>
                                        =
                                        {{ tran.offset_formatted }}
                                        {% if tran.isdst %}{{ dst|raw }}{% endif %}
                                        {% if loop.index != loop.length %}<br />{% endif %}
                                    {% endfor %}
                                </span>
                            </th>
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                {% for slot in mt.timeslots %}
                    <tr>
                        {% for tz in mt.timezones %}
                            <td class="weekday">{{ slot.weekday( tz )|raw }}</td>
                            <td class="time">
                                {{ slot.starttime( tz ).format( 'H:i' ) }}
                                {% if slot.hasdst( tz ) and tz.transitions(mt.starttime, mt.endtime )|length > 1 %}
                                    {{ dst|raw }}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </main>
    <footer>
        <ul>
            <li><a href="https://phabricator.wikimedia.org/maniphest/task/edit/form/1/?projects=tool-meetingtimes">{{ msg('report-issue') }}</a></li>
            <li><a href="https://www.gnu.org/licenses/gpl-3.0.html" rel="license">{{ msg( 'licenced-under' ) }}</a></li>
            <li><a href="https://gerrit.wikimedia.org/r/plugins/gitiles/labs/tools/meetingtimes/">{{ msg('view-source') }}</a></li>
        </ul>
    </footer>
    {{ encore_entry_script_tags('app') }}
    </body>
</html>
